name: Build documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Build documentation

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          cache: true
          environments: docs
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Build docs
        run: pixi run build-docs

      - name: Upload Pages artifact
        if: github.ref_name == 'main'
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy PR Preview
        if: github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main'
        uses: rossjrw/pr-preview-action@v1.6.3
        with:
          source-dir: ./site
          preview-branch: gh-pages

  deploy:
    if: github.ref_name == 'main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
